html, body {
    font-family: Verdana,sans-serif;
    font-size: 20px;
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
}
.maindiv{
  width: 66.6%;
  float: right;
  text-align: right;
}
.headerdiv{
  padding-top: 64px;
  padding-bottom: 64px;
  margin-bottom: 16px;
  text-align: center;
}
.content{
  padding: 0 8px;
}
.content2{
  width: 30%;
  align-items: center;
  text-align: right;

}
.ds{
  color: #000;
  background-color: #f1f1f1;
}
